<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/public/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/public/css/reset.css">
  <link rel="stylesheet" href="/public/css/cabecalho.css">
  <title>La Nelli</title>
</head>
<body>
  <%- include('../cabecalho.ejs') %>

  <main class="p-3">
    <h2>Clientes</h2>

    <a href="/clientes/adicionar" class="btn btn-primary mb-3">Adicionar Cliente</a>

    <div id="container-clientes">
      <% clientes.map(cliente => { %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title" style="text-transform: capitalize;"><%= cliente.nome %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= cliente.telefone %> - <%= cliente.email %></h6>
            <p class="card-text" style="text-transform: capitalize;"><%= cliente.endereco %></p>
            <a href="/cliente?id=${cliente.id}" class="text-primary me-3">Acessar</a>
            <a href="" class="text-danger">Deletar</a> 
          </div>
        </div>
      <% }) %>
    </div>
  </main>

  <%- include('../rodape.ejs') %>
  <script src="/public/bootstrap.bundle.min.js"></script>
  <script src="/public/axios.min.js"></script>
  <script src="/public/sweetAlert2.js"></script>
  <script src="/public/js/autenticacao.js"></script>
</body>
</html>